[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*"
django-solo = "*"
django-summernote = "*"
pyodbc = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
Django = "*"
djangorestframework = "*"
loguru = "*"
django-environ = "*"

[requires]
python_version = "3.9"
